/* Various fixes and color changes to Material Kit */

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-secondary {
    color: #454545!important;
}

.noUi-origin {
    margin-right: 7px;
}

.noUi-value {
    color: #454545;
}

.slider.slider-primary .noUi-connect {
    background-color: #29479b;
}

.slider.slider-primary .noUi-handle {
    border-color: #29479b;
}

.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a.active, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    background-color: #29479b;
    color: #fff!important;
}

.dropdown-menu {
    background-color: white!important;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg, #29479b 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

.nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
    color: black!important;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0, 0%, 100%, .7);
    transition: background-color .3s .2s;
}

.nav-link {
    border: 1!important;
    font-weight: 400!important;
    font-size: 1.2rem!important;
    text-transform: none!important;
}

.nav-link.active {
    border: 1!important;
    font-weight: 900!important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.form {
    margin-bottom: 0px;
}

.btn-index-submit {
    padding: 5px;
}

.btn-primary {
    background-color: #29479b!important;
}

.custom-file-upload {
    color: black!important;
    border: 1px solid #8f8f8f;
    display: inline-block;
    padding: 3px 3px;
    margin-bottom: 0px;
    cursor: pointer;
}

.img-gallery {
    width: 3rem;
    margin: 5px 5px;
}