/* Various fixes and color changes to Material Kit */

h5 {
    margin-bottom: 5px;
    margin-top: 0px;
}

label {
    color: black;
    font-size: .775rem;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.noUi-horizontal {
    height: 6px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    top: -6.5px;
    left: 98%;
}

.noUi-origin {
    margin-right: 7px;
}

.noUi-value {
    color: #454545;
}

.slider.slider-primary .noUi-connect {
    background-color: #29479b;
}

.slider.slider-primary .noUi-handle {
    border-color: #29479b;
}

.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a.active, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    background-color: #29479b;
    color: #fff!important;
}

.dropdown-menu {
    background-color: white!important;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg, #29479b 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

.nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
    color: black!important;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0, 0%, 100%, .7);
    transition: background-color .3s .2s;
}

.nav-link {
    border: 1!important;
    font-weight: 400!important;
    font-size: 1.2rem!important;
    text-transform: none!important;
}

.nav-link.active {
    border: 1!important;
    font-weight: 900!important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.form {
    margin-bottom: 0px;
}

.btn-input-submit {
    height: 100%!important;
    padding: 0px;
    margin: 0px!important;
}

.btn.btn-primary {
    background-color: #29479b!important;
    border: 1px solid black!important;
    box-shadow: none!important;
}

.btn-secondary {
    color: #454545!important;
}

.btn.btn-round {
    border-radius: 10px;
}

.input-number {
    height: 30px!important;
    border-radius: 10px;
    border: 1px solid black!important;
    padding: 1px 5px 1px 10px;
}

.input-number.testset {
    width: 150px;
}

.input-number.rotation {
    width: 93px;
}

.input-highlight {
    box-shadow: 0 0 0 4px hsl(219deg 39% 50% / 75%)!important;
}

.form-check {
    margin-bottom: 0px;
}

.form-check .form-check-input:checked~.form-check-sign .check {
    background: #29479b;
}

.form-check .form-check-label span {
    left: -2px;
}

.form-check .form-check-label span .radio {
    left: -1.1px!important;
}

.upload-img-input {
    padding: 6px 10px;
    margin: 0px!important;
}

.custom-file-upload {
    color: black!important;
    border: 1px solid #8f8f8f;
    display: inline-block;
    padding: 3px 3px;
    margin-bottom: 0px;
    cursor: pointer;
}

.img-gallery {
    image-rendering: pixelated;
    border: 0.1px solid lightblue;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0);
    margin: 8px 0px;
}

.hr-sect::before, .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.5);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 2px;
}

.nav-tabs .nav-item .nav-link.active {
    transition: background-color .3s .0s!important;
}

/* Set a fixed height for inputs' stuff */

.input-row {
    margin-bottom: 15px;
}

.input-content-row {
    height: 100px;
}

.input-img-preview {
    height: 100%;
    image-rendering: pixelated;
}

.prediction-img {
    height: 100%;
}